/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --main-font: 'IBM Plex Mono', monospace;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --bg-color: #000028;
  --content-text-color: #F1B2CE;
  --bg-image: url(../images/cover-image-dark.png);
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
